.pageContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.title {
    font-size: 32px;
    font-weight: 400;
    color: #c2a90e;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.sync-button {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: #131616;
    height: 0px;
    border-radius: 50px;
    width: fit-content;
    color: #c2a90e;
    padding: 24px 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #c2a90e;
    cursor: pointer;
}

.sync-button:hover {
    background-color: #c2a90e;
    color: #131616;
}

.explainer-text {
    font-size: 16px;
    color: #f3f3f9;
    max-width: 400px;
}

.explainer-text > ol > li {
    padding-bottom: 12px;
}

.navbar {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #343c3c;
    padding: 12px;
    gap: 36px;

    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.active-nav-item {
    background-color: #131616;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px;
}

.nav-item {
    border: 2px solid #131616;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px;
}

.dono-txt {
    color: #cfcfcf;
    font-size: 12px;
    max-width: 50%;
    text-align: center;
}

.success-msg {
    font-size: 12px;
    border: 1px solid #28a745;
    color: #28a745;
    background-color: #092710;
    border-radius: 20px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.info-msg {
    font-size: 12px;
    border: 1px solid #17a2b8;
    color: #17a2b8;
    background-color: #09242a;
    border-radius: 20px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.error-msg {
    font-size: 12px;
    border: 1px solid #dc3545;
    color: #dc3545;
    background-color: #2a0a0a;
    border-radius: 20px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
